In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df=pd.read_csv('https://raw.githubusercontent.com/jackiekazil/data-wrangling/master/data/chp3/data-text.csv')
df.head(2)

,Indicator,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80.0,NaN,NaN,NaN

In [5]:
df1 = pd.read_csv('https://raw.githubusercontent.com/kjam/data-wrangling-pycon/master/data/berlin_weather_oldest.csv')
df1.head(2)

,STATION,STATION_NAME,DATE,PRCP,SNWD,SNOW,TMAX,TMIN,WDFG,PGTM,...,WT09,WT07,WT01,WT06,WT05,WT04,WT16,WT08,WT18,WT03
0,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310101,46,-9999,-9999,-9999,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
1,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310102,107,-9999,-9999,50,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999

In [6]:
#1. Get the Metadata from the above files.
df.info()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4656 entries, 0 to 4655
Data columns (total 12 columns):
Indicator                  4656 non-null object
PUBLISH STATES             4656 non-null object
Year                       4656 non-null int64
WHO region                 4656 non-null object
World Bank income group    4656 non-null object
Country                    4656 non-null object
Sex                        4656 non-null object
Display Value              4656 non-null int64
Numeric                    4656 non-null float64
Low                        0 non-null float64
High                       0 non-null float64
Comments                   0 non-null float64
dtypes: float64(4), int64(2), object(6)
memory usage: 436.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117208 entries, 0 to 117207
Data columns (total 21 columns):
STATION         117208 non-null object
STATION_NAME    117208 non-null object
DATE            117208 non-null int64
PRCP            117208 non-null int64
SNWD            117208 non-null int64
SNOW            117208 non-null int64
TMAX            117208 non-null int64
TMIN            117208 non-null int64
WDFG            117208 non-null int64
PGTM            117208 non-null int64
WSFG            117208 non-null int64
WT09            117208 non-null int64
WT07            117208 non-null int64
WT01            117208 non-null int64
WT06            117208 non-null int64
WT05            117208 non-null int64
WT04            117208 non-null int64
WT16            117208 non-null int64
WT08            117208 non-null int64
WT18            117208 non-null int64
WT03            117208 non-null int64
dtypes: int64(19), object(2)
memory usage: 18.8+ MB

In [7]:
#2. Get the row names from the above file.

print(df.axes[0])
print(df1.axes[0])

RangeIndex(start=0, stop=4656, step=1)
RangeIndex(start=0, stop=117208, step=1)

In [8]:
#3. Change the column name from any of the above file.
print(df.rename({'Indicator':'Indicator_Id'},axis=1).head(2))
print('='*90)
print(df1.rename({'STATION':'STATION_ID'},axis=1).head(2))

                       Indicator_Id PUBLISH STATES  Year WHO region  \
0  Life expectancy at birth (years)      Published  1990     Europe
1  Life expectancy at birth (years)      Published  2000     Europe

  World Bank income group  Country         Sex  Display Value  Numeric  Low  \
0             High-income  Andorra  Both sexes             77     77.0  NaN
1             High-income  Andorra  Both sexes             80     80.0  NaN

   High  Comments
0   NaN       NaN
1   NaN       NaN
==========================================================================================
          STATION_ID         STATION_NAME      DATE  PRCP  SNWD  SNOW  TMAX  \
0  GHCND:GME00111445  BERLIN TEMPELHOF GM  19310101    46 -9999 -9999 -9999
1  GHCND:GME00111445  BERLIN TEMPELHOF GM  19310102   107 -9999 -9999    50

   TMIN  WDFG  PGTM  ...   WT09  WT07  WT01  WT06  WT05  WT04  WT16  WT08  \
0   -11 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999
1    11 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999

   WT18  WT03
0 -9999 -9999
1 -9999 -9999

[2 rows x 21 columns]

In [65]:
#4. Change the column name from any of the above file and store the changes made permanently.
df=df.rename({'Indicator':'Indicator_Id'},axis=1)
df1=df1.rename({'STATION':'STATION_ID'},axis=1)
print(df.head(2))
print('='*90)
print(df1.head(2))

                       Indicator_Id PUBLISH STATES  Year WHO region  \
0  Life expectancy at birth (years)      Published  1990     Europe
1  Life expectancy at birth (years)      Published  2000     Europe

  World Bank income group  Country         Sex  Display Value  Numeric  Low  \
0             High-income  Andorra  Both sexes             77     77.0  NaN
1             High-income  Andorra  Both sexes             80     80.0  NaN

   High  Comments
0   NaN       NaN
1   NaN       NaN
==========================================================================================
          STATION_ID         STATION NAME      YEAR  PRCP  SNWD  SNOW  TMAX  \
0  GHCND:GME00111445  BERLIN TEMPELHOF GM  19310101    46 -9999 -9999 -9999
1  GHCND:GME00111445  BERLIN TEMPELHOF GM  19310102   107 -9999 -9999    50

   TMIN  WDFG  PGTM  ...   WT09  WT07  WT01  WT06  WT05  WT04  WT16  WT08  \
0   -11 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999
1    11 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999

   WT18  WT03
0 -9999 -9999
1 -9999 -9999

[2 rows x 21 columns]

In [9]:
#5. Change the names of multiple columns.
df=df.rename({'PUBLISH STATES':'Publication Status','WHO region':'WHO Region'},axis=1)
df1=df1.rename({'STATION_NAME':'STATION NAME','DATE':'YEAR'},axis=1)
print(df.head(2))
print('='*90)
print(df1.head(2))

                          Indicator Publication Status  Year WHO Region  \
0  Life expectancy at birth (years)          Published  1990     Europe
1  Life expectancy at birth (years)          Published  2000     Europe

  World Bank income group  Country         Sex  Display Value  Numeric  Low  \
0             High-income  Andorra  Both sexes             77     77.0  NaN
1             High-income  Andorra  Both sexes             80     80.0  NaN

   High  Comments
0   NaN       NaN
1   NaN       NaN
==========================================================================================
             STATION         STATION NAME      YEAR  PRCP  SNWD  SNOW  TMAX  \
0  GHCND:GME00111445  BERLIN TEMPELHOF GM  19310101    46 -9999 -9999 -9999
1  GHCND:GME00111445  BERLIN TEMPELHOF GM  19310102   107 -9999 -9999    50

   TMIN  WDFG  PGTM  ...   WT09  WT07  WT01  WT06  WT05  WT04  WT16  WT08  \
0   -11 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999
1    11 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999

   WT18  WT03
0 -9999 -9999
1 -9999 -9999

[2 rows x 21 columns]

In [10]:
#6. Arrange values of a particular column in ascending order.
df.sort_values('Year',ascending=True)

,Indicator,Publication Status,Year,WHO Region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1270,Life expectancy at birth (years),Published,1990,Europe,High-income,Germany,Male,72,72.0,NaN,NaN,NaN
3193,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Male,65,65.0,NaN,NaN,NaN
3194,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Both sexes,68,68.0,NaN,NaN,NaN
3197,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Male,15,15.0,NaN,NaN,NaN
1264,Life expectancy at birth (years),Published,1990,Europe,High-income,Cyprus,Both sexes,76,76.0,NaN,NaN,NaN
3199,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Both sexes,17,17.0,NaN,NaN,NaN
1262,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Cook Islands,Male,17,17.0,NaN,NaN,NaN
1259,Life expectancy at birth (years),Published,1990,Western Pacific,High-income,Cook Islands,Male,67,67.0,NaN,NaN,NaN
3203,Life expectancy at age 60 (years),Published,1990,South-East Asia,Lower-middle-income,Maldives,Female,12,12.0,NaN,NaN,NaN
1273,Life expectancy at age 60 (years),Published,1990,Europe,High-income,Denmark,Both sexes,20,20.0,NaN,NaN,NaN
3204,Life expectancy at birth (years),Published,1990,Western Pacific,Lower-middle-income,Marshall Islands,Female,65,65.0,NaN,NaN,NaN
1253,Life expectancy at birth (years),Published,1990,Western Pacific,High-income,Brunei Darussalam,Both sexes,73,73.0,NaN,NaN,NaN
1247,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Bahamas,Male,17,17.0,NaN,NaN,NaN
3219,Life expectancy at age 60 (years),Published,1990,Western Pacific,Lower-middle-income,Vanuatu,Both sexes,16,16.0,NaN,NaN,NaN
3226,Life expectancy at birth (years),Published,1990,Europe,Upper-middle-income,Bulgaria,Both sexes,71,71.0,NaN,NaN,NaN
1240,Life expectancy at age 60 (years),Published,1990,Europe,High-income,Belgium,Female,23,23.0,NaN,NaN,NaN
1239,Life expectancy at birth (years),Published,1990,Europe,High-income,Belgium,Both sexes,76,76.0,NaN,NaN,NaN
1238,Life expectancy at birth (years),Published,1990,Europe,High-income,Belgium,Female,79,79.0,NaN,NaN,NaN
1237,Life expectancy at birth (years),Published,1990,Europe,High-income,Austria,Both sexes,76,76.0,NaN,NaN,NaN
1236,Life expectancy at birth (years),Published,1990,Europe,High-income,Austria,Male,72,72.0,NaN,NaN,NaN
3207,Life expectancy at birth (years),Published,1990,Western Pacific,Lower-middle-income,Mongolia,Female,64,64.0,NaN,NaN,NaN
3231,Life expectancy at birth (years),Published,1990,Europe,Upper-middle-income,Belarus,Female,76,76.0,NaN,NaN,NaN
3188,Life expectancy at age 60 (years),Published,1990,Africa,Lower-middle-income,Lesotho,Female,17,17.0,NaN,NaN,NaN
1277,Life expectancy at birth (years),Published,1990,Europe,High-income,Estonia,Both sexes,70,70.0,NaN,NaN,NaN
1302,Life expectancy at birth (years),Published,1990,Europe,High-income,Hungary,Male,65,65.0,NaN,NaN,NaN
3158,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Georgia,Male,67,67.0,NaN,NaN,NaN
1300,Life expectancy at birth (years),Published,1990,Europe,High-income,Croatia,Male,69,69.0,NaN,NaN,NaN
3159,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Georgia,Both sexes,19,19.0,NaN,NaN,NaN
3160,Life expectancy at age 60 (years),Published,1990,Americas,Lower-middle-income,Guatemala,Female,19,19.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3175,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Iran (Islamic Republic of),Male,19,19.0,NaN,NaN,NaN
3174,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Iran (Islamic Republic of),Female,76,76.0,NaN,NaN,NaN
1285,Life expectancy at birth (years),Published,2012,Europe,High-income,France,Both sexes,82,82.0,NaN,NaN,NaN
1286,Life expectancy at age 60 (years),Published,2012,Europe,High-income,France,Both sexes,25,25.0,NaN,NaN,NaN
3171,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Iran (Islamic Republic of),Male,72,72.0,NaN,NaN,NaN
1288,Life expectancy at age 60 (years),Published,2012,Europe,High-income,United Kingdom of Great Britain and Northern I...,Female,25,25.0,NaN,NaN,NaN
1290,Life expectancy at age 60 (years),Published,2012,Europe,High-income,United Kingdom of Great Britain and Northern I...,Both sexes,24,24.0,NaN,NaN,NaN
1292,Life expectancy at birth (years),Published,2012,Africa,High-income,Equatorial Guinea,Female,57,57.0,NaN,NaN,NaN
3166,Life expectancy at age 60 (years),Published,2012,Americas,Lower-middle-income,Honduras,Male,21,21.0,NaN,NaN,NaN
3165,Life expectancy at birth (years),Published,2012,Americas,Lower-middle-income,Honduras,Both sexes,74,74.0,NaN,NaN,NaN
3163,Life expectancy at age 60 (years),Published,2012,Americas,Lower-middle-income,Guyana,Male,13,13.0,NaN,NaN,NaN
3162,Life expectancy at birth (years),Published,2012,Americas,Lower-middle-income,Guyana,Female,67,67.0,NaN,NaN,NaN
1301,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Croatia,Both sexes,21,21.0,NaN,NaN,NaN
3137,Life expectancy at birth (years),Published,2012,Africa,Lower-middle-income,Cameroon,Male,55,55.0,NaN,NaN,NaN
1303,Life expectancy at birth (years),Published,2012,Europe,High-income,Hungary,Both sexes,75,75.0,NaN,NaN,NaN
3155,Life expectancy at birth (years),Published,2012,Western Pacific,Lower-middle-income,Micronesia (Federated States of),Male,68,68.0,NaN,NaN,NaN
3154,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Egypt,Male,16,16.0,NaN,NaN,NaN
1304,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Hungary,Both sexes,20,20.0,NaN,NaN,NaN
1306,Life expectancy at birth (years),Published,2012,Europe,High-income,Ireland,Female,83,83.0,NaN,NaN,NaN
3150,Life expectancy at age 60 (years),Published,2012,Americas,Lower-middle-income,Ecuador,Male,21,21.0,NaN,NaN,NaN
3148,Life expectancy at birth (years),Published,2012,Americas,Lower-middle-income,Ecuador,Female,78,78.0,NaN,NaN,NaN
3147,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Djibouti,Female,17,17.0,NaN,NaN,NaN
3146,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Djibouti,Both sexes,61,61.0,NaN,NaN,NaN
3145,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Djibouti,Female,63,63.0,NaN,NaN,NaN
1309,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Ireland,Female,25,25.0,NaN,NaN,NaN
1316,Life expectancy at birth (years),Published,2012,Europe,High-income,Italy,Both sexes,83,83.0,NaN,NaN,NaN
3141,Life expectancy at birth (years),Published,2012,Africa,Lower-middle-income,Cabo Verde,Both sexes,74,74.0,NaN,NaN,NaN
3139,Life expectancy at age 60 (years),Published,2012,Africa,Lower-middle-income,Cameroon,Female,17,17.0,NaN,NaN,NaN
3156,Life expectancy at age 60 (years),Published,2012,Western Pacific,Lower-middle-income,Micronesia (Federated States of),Male,16,16.0,NaN,NaN,NaN
4655,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,51,51.0,NaN,NaN,NaN

In [11]:
df1.sort_values('YEAR',ascending=True)

,STATION,STATION NAME,YEAR,PRCP,SNWD,SNOW,TMAX,TMIN,WDFG,PGTM,...,WT09,WT07,WT01,WT06,WT05,WT04,WT16,WT08,WT18,WT03
22874,GHCND:GM000003319,BERLIN DAHLEM GM,19000101,6,-9999,-9999,28,-9,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59209,GHCND:GM000003342,POTSDAM GM,19000101,4,60,-9999,28,-8,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22875,GHCND:GM000003319,BERLIN DAHLEM GM,19000102,2,-9999,-9999,29,5,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59210,GHCND:GM000003342,POTSDAM GM,19000102,45,50,-9999,18,-7,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59211,GHCND:GM000003342,POTSDAM GM,19000103,26,20,-9999,70,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22876,GHCND:GM000003319,BERLIN DAHLEM GM,19000103,43,-9999,-9999,69,19,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22877,GHCND:GM000003319,BERLIN DAHLEM GM,19000104,15,-9999,-9999,75,20,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59212,GHCND:GM000003342,POTSDAM GM,19000104,0,0,-9999,84,19,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22878,GHCND:GM000003319,BERLIN DAHLEM GM,19000105,0,-9999,-9999,50,10,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59213,GHCND:GM000003342,POTSDAM GM,19000105,2,0,-9999,46,-2,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22879,GHCND:GM000003319,BERLIN DAHLEM GM,19000106,1,-9999,-9999,11,0,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59214,GHCND:GM000003342,POTSDAM GM,19000106,0,0,-9999,6,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22880,GHCND:GM000003319,BERLIN DAHLEM GM,19000107,0,-9999,-9999,6,-34,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59215,GHCND:GM000003342,POTSDAM GM,19000107,0,0,-9999,-7,-40,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22881,GHCND:GM000003319,BERLIN DAHLEM GM,19000108,0,-9999,-9999,4,-36,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59216,GHCND:GM000003342,POTSDAM GM,19000108,0,0,-9999,-2,-37,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59217,GHCND:GM000003342,POTSDAM GM,19000109,33,0,-9999,25,-12,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22882,GHCND:GM000003319,BERLIN DAHLEM GM,19000109,0,-9999,-9999,28,-2,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59218,GHCND:GM000003342,POTSDAM GM,19000110,1,0,-9999,38,-6,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22883,GHCND:GM000003319,BERLIN DAHLEM GM,19000110,14,-9999,-9999,28,9,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22884,GHCND:GM000003319,BERLIN DAHLEM GM,19000111,0,-9999,-9999,14,-10,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59219,GHCND:GM000003342,POTSDAM GM,19000111,7,0,-9999,4,-31,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22885,GHCND:GM000003319,BERLIN DAHLEM GM,19000112,5,-9999,-9999,6,-37,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59220,GHCND:GM000003342,POTSDAM GM,19000112,3,20,-9999,-2,-40,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59221,GHCND:GM000003342,POTSDAM GM,19000113,0,0,-9999,-37,-120,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22886,GHCND:GM000003319,BERLIN DAHLEM GM,19000113,0,-9999,-9999,-37,-90,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59222,GHCND:GM000003342,POTSDAM GM,19000114,2,10,-9999,-82,-140,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22887,GHCND:GM000003319,BERLIN DAHLEM GM,19000114,0,-9999,-9999,-90,-115,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59223,GHCND:GM000003342,POTSDAM GM,19000115,17,20,-9999,-84,-130,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22888,GHCND:GM000003319,BERLIN DAHLEM GM,19000115,3,-9999,-9999,-76,-117,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59201,GHCND:GM000003319,BERLIN DAHLEM GM,19991225,34,-9999,-9999,67,7,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
111464,GHCND:GME00121150,BERLIN TEGEL GM,19991225,28,0,-9999,73,17,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
111465,GHCND:GME00121150,BERLIN TEGEL GM,19991226,83,0,-9999,50,2,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
95727,GHCND:GM000003342,POTSDAM GM,19991226,95,0,-9999,38,1,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22867,GHCND:GME00111445,BERLIN TEMPELHOF GM,19991226,74,0,-9999,48,1,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59202,GHCND:GM000003319,BERLIN DAHLEM GM,19991226,84,-9999,-9999,42,0,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59203,GHCND:GM000003319,BERLIN DAHLEM GM,19991227,0,-9999,-9999,21,-14,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
111466,GHCND:GME00121150,BERLIN TEGEL GM,19991227,0,20,-9999,23,-20,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
95728,GHCND:GM000003342,POTSDAM GM,19991227,0,60,-9999,16,-8,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22868,GHCND:GME00111445,BERLIN TEMPELHOF GM,19991227,0,20,-9999,27,-16,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59204,GHCND:GM000003319,BERLIN DAHLEM GM,19991228,0,-9999,-9999,20,-17,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
111467,GHCND:GME00121150,BERLIN TEGEL GM,19991228,0,10,-9999,22,-6,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
95729,GHCND:GM000003342,POTSDAM GM,19991228,1,50,-9999,13,-10,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22869,GHCND:GME00111445,BERLIN TEMPELHOF GM,19991228,0,0,-9999,29,-17,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
111468,GHCND:GME00121150,BERLIN TEGEL GM,19991229,2,0,-9999,25,2,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
95730,GHCND:GM000003342,POTSDAM GM,19991229,0,40,-9999,19,-5,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59205,GHCND:GM000003319,BERLIN DAHLEM GM,19991229,0,-9999,-9999,22,-7,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22870,GHCND:GME00111445,BERLIN TEMPELHOF GM,19991229,4,0,-9999,27,-1,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
95731,GHCND:GM000003342,POTSDAM GM,19991230,6,30,-9999,20,-10,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59206,GHCND:GM000003319,BERLIN DAHLEM GM,19991230,16,-9999,-9999,26,-5,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
111469,GHCND:GME00121150,BERLIN TEGEL GM,19991230,14,0,-9999,29,-6,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22871,GHCND:GME00111445,BERLIN TEMPELHOF GM,19991230,16,0,-9999,31,-4,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
95732,GHCND:GM000003342,POTSDAM GM,19991231,0,30,-9999,24,-6,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
111470,GHCND:GME00121150,BERLIN TEGEL GM,19991231,0,0,-9999,41,-25,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22872,GHCND:GME00111445,BERLIN TEMPELHOF GM,19991231,0,0,-9999,36,-40,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59207,GHCND:GM000003319,BERLIN DAHLEM GM,19991231,0,-9999,-9999,35,-21,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22873,GHCND:GME00111445,BERLIN TEMPELHOF GM,20000101,23,0,-9999,24,-36,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
95733,GHCND:GM000003342,POTSDAM GM,20000101,18,30,-9999,20,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59208,GHCND:GM000003319,BERLIN DAHLEM GM,20000101,24,-9999,-9999,23,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
111471,GHCND:GME00121150,BERLIN TEGEL GM,20000101,20,0,-9999,24,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999

In [12]:
df.sort_values(['WHO Region','Year'],ascending=True)

,Indicator,Publication Status,Year,WHO Region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
64,Life expectancy at age 60 (years),Published,1990,Africa,High-income,Equatorial Guinea,Female,15,15.0,NaN,NaN,NaN
149,Life expectancy at birth (years),Published,1990,Africa,Low-income,Burundi,Female,51,51.0,NaN,NaN,NaN
151,Life expectancy at birth (years),Published,1990,Africa,Low-income,Benin,Male,51,51.0,NaN,NaN,NaN
155,Life expectancy at birth (years),Published,1990,Africa,Low-income,Burkina Faso,Male,48,48.0,NaN,NaN,NaN
158,Life expectancy at age 60 (years),Published,1990,Africa,Low-income,Burkina Faso,Both sexes,15,15.0,NaN,NaN,NaN
165,Life expectancy at birth (years),Published,1990,Africa,Low-income,Central African Republic,Female,50,50.0,NaN,NaN,NaN
167,Life expectancy at birth (years),Published,1990,Africa,Low-income,Central African Republic,Both sexes,48,48.0,NaN,NaN,NaN
168,Life expectancy at age 60 (years),Published,1990,Africa,Low-income,Central African Republic,Female,15,15.0,NaN,NaN,NaN
172,Life expectancy at age 60 (years),Published,1990,Africa,Low-income,Democratic Republic of the Congo,Female,16,16.0,NaN,NaN,NaN
177,Life expectancy at age 60 (years),Published,1990,Africa,Low-income,Comoros,Male,14,14.0,NaN,NaN,NaN
181,Life expectancy at birth (years),Published,1990,Africa,Low-income,Eritrea,Both sexes,48,48.0,NaN,NaN,NaN
186,Life expectancy at age 60 (years),Published,1990,Africa,Low-income,Ethiopia,Both sexes,15,15.0,NaN,NaN,NaN
191,Life expectancy at age 60 (years),Published,1990,Africa,Low-income,Guinea,Male,15,15.0,NaN,NaN,NaN
195,Life expectancy at age 60 (years),Published,1990,Africa,Low-income,Gambia,Both sexes,16,16.0,NaN,NaN,NaN
203,Life expectancy at age 60 (years),Published,1990,Africa,Low-income,Kenya,Male,16,16.0,NaN,NaN,NaN
204,Life expectancy at age 60 (years),Published,1990,Africa,Low-income,Kenya,Female,18,18.0,NaN,NaN,NaN
220,Life expectancy at birth (years),Published,1990,Africa,Low-income,Madagascar,Male,50,50.0,NaN,NaN,NaN
225,Life expectancy at birth (years),Published,1990,Africa,Low-income,Mali,Both sexes,46,46.0,NaN,NaN,NaN
233,Life expectancy at birth (years),Published,1990,Africa,Low-income,Mozambique,Female,45,45.0,NaN,NaN,NaN
238,Life expectancy at age 60 (years),Published,1990,Africa,Low-income,Mauritania,Male,15,15.0,NaN,NaN,NaN
242,Life expectancy at age 60 (years),Published,1990,Africa,Low-income,Malawi,Male,14,14.0,NaN,NaN,NaN
246,Life expectancy at birth (years),Published,1990,Africa,Low-income,Niger,Both sexes,43,43.0,NaN,NaN,NaN
247,Life expectancy at age 60 (years),Published,1990,Africa,Low-income,Niger,Female,15,15.0,NaN,NaN,NaN
258,Life expectancy at birth (years),Published,1990,Africa,Low-income,Rwanda,Both sexes,48,48.0,NaN,NaN,NaN
262,Life expectancy at birth (years),Published,1990,Africa,Low-income,Senegal,Both sexes,57,57.0,NaN,NaN,NaN
272,Life expectancy at age 60 (years),Published,1990,Africa,Low-income,Chad,Female,15,15.0,NaN,NaN,NaN
279,Life expectancy at age 60 (years),Published,1990,Africa,Low-income,United Republic of Tanzania,Male,15,15.0,NaN,NaN,NaN
281,Life expectancy at age 60 (years),Published,1990,Africa,Low-income,Uganda,Female,16,16.0,NaN,NaN,NaN
290,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zambia,Both sexes,43,43.0,NaN,NaN,NaN
325,Life expectancy at birth (years),Published,1990,Africa,Lower-middle-income,CÃ´te d'Ivoire,Male,50,50.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4259,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Both sexes,64,64.0,NaN,NaN,NaN
4276,Life expectancy at age 60 (years),Published,2012,Western Pacific,Lower-middle-income,Papua New Guinea,Both sexes,15,15.0,NaN,NaN,NaN
4281,Life expectancy at birth (years),Published,2012,Western Pacific,Lower-middle-income,Solomon Islands,Male,67,67.0,NaN,NaN,NaN
4305,Life expectancy at birth (years),Published,2012,Western Pacific,Lower-middle-income,Tonga,Male,74,74.0,NaN,NaN,NaN
4307,Life expectancy at birth (years),Published,2012,Western Pacific,Lower-middle-income,Tonga,Female,69,69.0,NaN,NaN,NaN
4317,Life expectancy at birth (years),Published,2012,Western Pacific,Lower-middle-income,Vanuatu,Female,74,74.0,NaN,NaN,NaN
4318,Life expectancy at birth (years),Published,2012,Western Pacific,Lower-middle-income,Vanuatu,Both sexes,72,72.0,NaN,NaN,NaN
4320,Life expectancy at age 60 (years),Published,2012,Western Pacific,Lower-middle-income,Vanuatu,Female,19,19.0,NaN,NaN,NaN
4322,Life expectancy at age 60 (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Male,16,16.0,NaN,NaN,NaN
4361,Life expectancy at birth (years),Published,2012,Western Pacific,Upper-middle-income,Fiji,Both sexes,69,69.0,NaN,NaN,NaN
4420,Life expectancy at birth (years),Published,2012,Western Pacific,Upper-middle-income,Palau,Female,75,75.0,NaN,NaN,NaN
4443,Life expectancy at birth (years),Published,2012,Western Pacific,Upper-middle-income,Tuvalu,Female,70,70.0,NaN,NaN,NaN
4444,Life expectancy at birth (years),Published,2012,Western Pacific,Upper-middle-income,Tuvalu,Both sexes,68,68.0,NaN,NaN,NaN
4446,Life expectancy at age 60 (years),Published,2012,Western Pacific,Upper-middle-income,Tuvalu,Both sexes,16,16.0,NaN,NaN,NaN
4495,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,High-income,Cook Islands,Female,66,66.0,NaN,NaN,NaN
4515,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Upper-middle-income,Fiji,Male,58,58.0,NaN,NaN,NaN
4516,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Upper-middle-income,Fiji,Female,62,62.0,NaN,NaN,NaN
4550,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Kiribati,Male,56,56.0,NaN,NaN,NaN
4554,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,High-income,Republic of Korea,Female,75,75.0,NaN,NaN,NaN
4578,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Mongolia,Both sexes,60,60.0,NaN,NaN,NaN
4591,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Low-income,Niue,Female,66,66.0,NaN,NaN,NaN
4595,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,High-income,Nauru,Male,64,64.0,NaN,NaN,NaN
4596,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,High-income,Nauru,Both sexes,66,66.0,NaN,NaN,NaN
4597,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,High-income,New Zealand,Female,73,73.0,NaN,NaN,NaN
4604,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Upper-middle-income,Palau,Both sexes,62,62.0,NaN,NaN,NaN
4618,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Solomon Islands,Female,60,60.0,NaN,NaN,NaN
4637,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Tonga,Female,61,61.0,NaN,NaN,NaN
4641,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Upper-middle-income,Tuvalu,Male,57,57.0,NaN,NaN,NaN
4650,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Male,62,62.0,NaN,NaN,NaN
4651,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Female,66,66.0,NaN,NaN,NaN

In [13]:
#7. Arrange multiple column values in ascending order.
df1.sort_values(['STATION NAME','YEAR'],ascending=True)

,STATION,STATION NAME,YEAR,PRCP,SNWD,SNOW,TMAX,TMIN,WDFG,PGTM,...,WT09,WT07,WT01,WT06,WT05,WT04,WT16,WT08,WT18,WT03
22874,GHCND:GM000003319,BERLIN DAHLEM GM,19000101,6,-9999,-9999,28,-9,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22875,GHCND:GM000003319,BERLIN DAHLEM GM,19000102,2,-9999,-9999,29,5,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22876,GHCND:GM000003319,BERLIN DAHLEM GM,19000103,43,-9999,-9999,69,19,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22877,GHCND:GM000003319,BERLIN DAHLEM GM,19000104,15,-9999,-9999,75,20,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22878,GHCND:GM000003319,BERLIN DAHLEM GM,19000105,0,-9999,-9999,50,10,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22879,GHCND:GM000003319,BERLIN DAHLEM GM,19000106,1,-9999,-9999,11,0,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22880,GHCND:GM000003319,BERLIN DAHLEM GM,19000107,0,-9999,-9999,6,-34,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22881,GHCND:GM000003319,BERLIN DAHLEM GM,19000108,0,-9999,-9999,4,-36,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22882,GHCND:GM000003319,BERLIN DAHLEM GM,19000109,0,-9999,-9999,28,-2,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22883,GHCND:GM000003319,BERLIN DAHLEM GM,19000110,14,-9999,-9999,28,9,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22884,GHCND:GM000003319,BERLIN DAHLEM GM,19000111,0,-9999,-9999,14,-10,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22885,GHCND:GM000003319,BERLIN DAHLEM GM,19000112,5,-9999,-9999,6,-37,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22886,GHCND:GM000003319,BERLIN DAHLEM GM,19000113,0,-9999,-9999,-37,-90,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22887,GHCND:GM000003319,BERLIN DAHLEM GM,19000114,0,-9999,-9999,-90,-115,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22888,GHCND:GM000003319,BERLIN DAHLEM GM,19000115,3,-9999,-9999,-76,-117,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22889,GHCND:GM000003319,BERLIN DAHLEM GM,19000116,10,-9999,-9999,-9,-100,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22890,GHCND:GM000003319,BERLIN DAHLEM GM,19000117,0,-9999,-9999,11,-15,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22891,GHCND:GM000003319,BERLIN DAHLEM GM,19000118,1,-9999,-9999,22,0,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22892,GHCND:GM000003319,BERLIN DAHLEM GM,19000119,21,-9999,-9999,22,0,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22893,GHCND:GM000003319,BERLIN DAHLEM GM,19000120,0,-9999,-9999,34,-10,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22894,GHCND:GM000003319,BERLIN DAHLEM GM,19000121,45,-9999,-9999,27,-1,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22895,GHCND:GM000003319,BERLIN DAHLEM GM,19000122,43,-9999,-9999,55,-5,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22896,GHCND:GM000003319,BERLIN DAHLEM GM,19000123,34,-9999,-9999,83,25,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22897,GHCND:GM000003319,BERLIN DAHLEM GM,19000124,20,-9999,-9999,80,59,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22898,GHCND:GM000003319,BERLIN DAHLEM GM,19000125,35,-9999,-9999,68,20,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22899,GHCND:GM000003319,BERLIN DAHLEM GM,19000126,50,-9999,-9999,58,30,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22900,GHCND:GM000003319,BERLIN DAHLEM GM,19000127,11,-9999,-9999,59,42,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22901,GHCND:GM000003319,BERLIN DAHLEM GM,19000128,29,-9999,-9999,42,15,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22902,GHCND:GM000003319,BERLIN DAHLEM GM,19000129,4,-9999,-9999,24,6,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22903,GHCND:GM000003319,BERLIN DAHLEM GM,19000130,0,-9999,-9999,15,5,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114014,GHCND:GMW00035104,TEMPELHOF GM,19550601,0,0,0,161,67,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,1,-9999,-9999,-9999
114015,GHCND:GMW00035104,TEMPELHOF GM,19550602,38,0,0,183,72,-9999,-9999,...,-9999,-9999,-9999,-9999,1,-9999,1,-9999,-9999,-9999
114016,GHCND:GMW00035104,TEMPELHOF GM,19550603,8,0,0,200,83,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,1,-9999,-9999,-9999
114017,GHCND:GMW00035104,TEMPELHOF GM,19550604,0,0,0,233,94,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
114018,GHCND:GMW00035104,TEMPELHOF GM,19550605,0,0,0,239,122,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,1,-9999,-9999,-9999
114019,GHCND:GMW00035104,TEMPELHOF GM,19550606,0,0,0,233,139,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
114020,GHCND:GMW00035104,TEMPELHOF GM,19550607,0,0,0,272,128,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
114021,GHCND:GMW00035104,TEMPELHOF GM,19550608,86,0,0,239,100,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,1,-9999,-9999,1
114022,GHCND:GMW00035104,TEMPELHOF GM,19550609,0,0,0,172,72,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,1,-9999,-9999,-9999
114023,GHCND:GMW00035104,TEMPELHOF GM,19550610,259,0,0,144,83,-9999,-9999,...,-9999,-9999,1,-9999,-9999,-9999,1,-9999,-9999,-9999
114024,GHCND:GMW00035104,TEMPELHOF GM,19550611,38,0,0,128,67,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,1,-9999,-9999,-9999
114025,GHCND:GMW00035104,TEMPELHOF GM,19550612,0,0,0,172,78,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
114026,GHCND:GMW00035104,TEMPELHOF GM,19550613,107,0,0,167,100,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,1,-9999,-9999,1
114027,GHCND:GMW00035104,TEMPELHOF GM,19550614,30,0,0,172,100,-9999,-9999,...,-9999,-9999,1,-9999,-9999,-9999,1,-9999,-9999,-9999
114028,GHCND:GMW00035104,TEMPELHOF GM,19550615,10,0,0,172,111,-9999,-9999,...,-9999,-9999,1,-9999,-9999,-9999,1,-9999,-9999,-9999
114029,GHCND:GMW00035104,TEMPELHOF GM,19550616,3,0,0,167,94,-9999,-9999,...,-9999,-9999,1,-9999,-9999,-9999,1,-9999,-9999,-9999
114030,GHCND:GMW00035104,TEMPELHOF GM,19550617,0,0,0,156,72,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
114031,GHCND:GMW00035104,TEMPELHOF GM,19550618,0,0,0,189,78,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
114032,GHCND:GMW00035104,TEMPELHOF GM,19550619,0,0,0,267,100,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
114033,GHCND:GMW00035104,TEMPELHOF GM,19550620,23,0,0,244,172,-9999,-9999,...,-9999,-9999,1,-9999,-9999,-9999,1,1,-9999,-9999
114034,GHCND:GMW00035104,TEMPELHOF GM,19550621,5,0,0,228,167,-9999,-9999,...,-9999,-9999,1,-9999,-9999,-9999,1,-9999,-9999,-9999
114035,GHCND:GMW00035104,TEMPELHOF GM,19550622,3,0,0,206,139,-9999,-9999,...,-9999,-9999,1,-9999,-9999,-9999,1,-9999,-9999,-9999
114036,GHCND:GMW00035104,TEMPELHOF GM,19550623,5,0,0,228,144,-9999,-9999,...,-9999,-9999,1,-9999,-9999,-9999,1,-9999,-9999,-9999
114037,GHCND:GMW00035104,TEMPELHOF GM,19550624,0,0,0,272,150,-9999,-9999,...,-9999,-9999,1,-9999,-9999,-9999,-9999,1,-9999,-9999
114038,GHCND:GMW00035104,TEMPELHOF GM,19550625,0,0,0,300,178,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,1,-9999,-9999
114039,GHCND:GMW00035104,TEMPELHOF GM,19550626,28,0,0,228,156,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,1,-9999,-9999,1
114040,GHCND:GMW00035104,TEMPELHOF GM,19550627,5,0,0,222,144,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,1,-9999,-9999,-9999
114041,GHCND:GMW00035104,TEMPELHOF GM,19550628,0,0,0,211,139,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
114042,GHCND:GMW00035104,TEMPELHOF GM,19550629,0,0,0,250,139,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,1
114043,GHCND:GMW00035104,TEMPELHOF GM,19550630,61,0,0,206,150,-9999,-9999,...,-9999,-9999,1,-9999,-9999,-9999,1,-9999,-9999,1

In [23]:
#8. Make country as the first column of the dataframe.
df=df[['Country','Indicator', 'Publication Status', 'Year', 'WHO Region','World Bank income group', 'Sex', 'Display Value', 'Numeric','Low', 'High', 'Comments']]
df.head(2)

,Country,Indicator,Publication Status,Year,WHO Region,World Bank income group,Sex,Display Value,Numeric,Low,High,Comments
0,Andorra,Life expectancy at birth (years),Published,1990,Europe,High-income,Both sexes,77,77.0,NaN,NaN,NaN
1,Andorra,Life expectancy at birth (years),Published,2000,Europe,High-income,Both sexes,80,80.0,NaN,NaN,NaN

In [24]:
#9. Get the column array using a variable
df['WHO Region'].values

array(['Europe', 'Europe', 'Europe', ..., 'Africa', 'Africa', 'Africa'], dtype=object)

In [26]:
#10. Get the subset rows 11, 24, 37
df.iloc[[11,24,37]]

,Country,Indicator,Publication Status,Year,WHO Region,World Bank income group,Sex,Display Value,Numeric,Low,High,Comments
11,Austria,Life expectancy at birth (years),Published,2012,Europe,High-income,Female,83,83.0,NaN,NaN,NaN
24,Brunei Darussalam,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Female,21,21.0,NaN,NaN,NaN
37,Cyprus,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Female,26,26.0,NaN,NaN,NaN

In [30]:
#11. Get the subset rows excluding 5, 12, 23, and 56
df.drop([5,12,23,56])

,Country,Indicator,Publication Status,Year,WHO Region,World Bank income group,Sex,Display Value,Numeric,Low,High,Comments
0,Andorra,Life expectancy at birth (years),Published,1990,Europe,High-income,Both sexes,77,77.0,NaN,NaN,NaN
1,Andorra,Life expectancy at birth (years),Published,2000,Europe,High-income,Both sexes,80,80.0,NaN,NaN,NaN
2,Andorra,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Female,28,28.0,NaN,NaN,NaN
3,Andorra,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Both sexes,23,23.0,NaN,NaN,NaN
4,United Arab Emirates,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,Female,78,78.0,NaN,NaN,NaN
6,Antigua and Barbuda,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Male,17,17.0,NaN,NaN,NaN
7,Antigua and Barbuda,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Both sexes,22,22.0,NaN,NaN,NaN
8,Australia,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Male,81,81.0,NaN,NaN,NaN
9,Australia,Life expectancy at birth (years),Published,2000,Western Pacific,High-income,Both sexes,80,80.0,NaN,NaN,NaN
10,Australia,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Both sexes,83,83.0,NaN,NaN,NaN
11,Austria,Life expectancy at birth (years),Published,2012,Europe,High-income,Female,83,83.0,NaN,NaN,NaN
13,Belgium,Life expectancy at birth (years),Published,2012,Europe,High-income,Female,83,83.0,NaN,NaN,NaN
14,Bahrain,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,High-income,Male,73,73.0,NaN,NaN,NaN
15,Bahrain,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,High-income,Female,74,74.0,NaN,NaN,NaN
16,Bahrain,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,High-income,Male,17,17.0,NaN,NaN,NaN
17,Bahamas,Life expectancy at birth (years),Published,2012,Americas,High-income,Male,72,72.0,NaN,NaN,NaN
18,Bahamas,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Both sexes,21,21.0,NaN,NaN,NaN
19,Barbados,Life expectancy at birth (years),Published,1990,Americas,High-income,Male,71,71.0,NaN,NaN,NaN
20,Barbados,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Female,25,25.0,NaN,NaN,NaN
21,Barbados,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Both sexes,23,23.0,NaN,NaN,NaN
22,Brunei Darussalam,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Female,20,20.0,NaN,NaN,NaN
24,Brunei Darussalam,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Female,21,21.0,NaN,NaN,NaN
25,Canada,Life expectancy at birth (years),Published,2000,Americas,High-income,Female,82,82.0,NaN,NaN,NaN
26,Canada,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Male,21,21.0,NaN,NaN,NaN
27,Canada,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Female,24,24.0,NaN,NaN,NaN
28,Switzerland,Life expectancy at birth (years),Published,1990,Europe,High-income,Male,74,74.0,NaN,NaN,NaN
29,Switzerland,Life expectancy at birth (years),Published,2012,Europe,High-income,Both sexes,83,83.0,NaN,NaN,NaN
30,Switzerland,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Both sexes,23,23.0,NaN,NaN,NaN
31,Cook Islands,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Both sexes,76,76.0,NaN,NaN,NaN
32,Cook Islands,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Female,22,22.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4626,Serbia,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Upper-middle-income,Female,67,67.0,NaN,NaN,NaN
4627,Suriname,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Both sexes,66,66.0,NaN,NaN,NaN
4628,Sweden,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Both sexes,72,72.0,NaN,NaN,NaN
4629,Swaziland,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Female,47,47.0,NaN,NaN,NaN
4630,Seychelles,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Male,61,61.0,NaN,NaN,NaN
4631,Syrian Arab Republic,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Female,64,64.0,NaN,NaN,NaN
4632,Chad,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Female,44,44.0,NaN,NaN,NaN
4633,Thailand,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Male,59,59.0,NaN,NaN,NaN
4634,Thailand,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Female,65,65.0,NaN,NaN,NaN
4635,Tajikistan,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Low-income,Both sexes,56,56.0,NaN,NaN,NaN
4636,Tajikistan,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Low-income,Female,60,60.0,NaN,NaN,NaN
4637,Tonga,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Female,61,61.0,NaN,NaN,NaN
4638,Trinidad and Tobago,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Female,64,64.0,NaN,NaN,NaN
4639,Trinidad and Tobago,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Both sexes,61,61.0,NaN,NaN,NaN
4640,Tunisia,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Male,63,63.0,NaN,NaN,NaN
4641,Tuvalu,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Upper-middle-income,Male,57,57.0,NaN,NaN,NaN
4642,Uganda,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Female,40,40.0,NaN,NaN,NaN
4643,Ukraine,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Both sexes,60,60.0,NaN,NaN,NaN
4644,Uruguay,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Male,65,65.0,NaN,NaN,NaN
4645,Uruguay,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Female,70,70.0,NaN,NaN,NaN
4646,Uruguay,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Both sexes,68,68.0,NaN,NaN,NaN
4647,Saint Vincent and the Grenadines,Healthy life expectancy (HALE) at birth (years),Published,2000,Americas,Upper-middle-income,Both sexes,61,61.0,NaN,NaN,NaN
4648,Venezuela (Bolivarian Republic of),Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Both sexes,66,66.0,NaN,NaN,NaN
4649,Vanuatu,Healthy life expectancy (HALE) at birth (years),Published,2000,Western Pacific,Lower-middle-income,Male,59,59.0,NaN,NaN,NaN
4650,Samoa,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Male,62,62.0,NaN,NaN,NaN
4651,Samoa,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Female,66,66.0,NaN,NaN,NaN
4652,Yemen,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Both sexes,54,54.0,NaN,NaN,NaN
4653,South Africa,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Male,49,49.0,NaN,NaN,NaN
4654,Zambia,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Both sexes,36,36.0,NaN,NaN,NaN
4655,Zimbabwe,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Female,51,51.0,NaN,NaN,NaN

In [2]:
users = pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/users.csv' )
sessions = pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/sessions.csv' )
products = pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/products.csv' )
transactions = pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/transactions.csv')
print(users.head(2))
print('='*80)
print(sessions.head(2))
print('='*80)
print(products.head(2))
print('='*80)
print(transactions.head(2))

   UserID     User Gender  Registered   Cancelled
0       1  Charles   male  2012-12-21         NaN
1       2    Pedro   male  2010-08-01  2010-08-08
================================================================================
   SessionID SessionDate  UserID
0          1  2010-01-05       2
1          2  2010-08-01       2
================================================================================
   ProductID Product  Price
0          1       A  14.16
1          2       B  33.04
================================================================================
   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1

In [36]:
#12. Join users to transactions, keeping all rows from transactions and only matching rows from users (left join)
pd.merge(users,transactions,on='UserID',how='left')

,UserID,User,Gender,Registered,Cancelled,TransactionID,TransactionDate,ProductID,Quantity
0,1,Charles,male,2012-12-21,NaN,4.0,2012-08-26,2.0,3.0
1,2,Pedro,male,2010-08-01,2010-08-08,5.0,2013-06-06,4.0,1.0
2,2,Pedro,male,2010-08-01,2010-08-08,6.0,2013-12-23,5.0,6.0
3,3,Caroline,female,2012-10-23,2016-06-07,2.0,2011-05-26,4.0,1.0
4,3,Caroline,female,2012-10-23,2016-06-07,3.0,2011-06-16,3.0,1.0
5,3,Caroline,female,2012-10-23,2016-06-07,7.0,2013-12-30,4.0,1.0
6,3,Caroline,female,2012-10-23,2016-06-07,10.0,2016-05-08,4.0,4.0
7,4,Brielle,female,2013-07-17,NaN,NaN,NaN,NaN,NaN
8,5,Benjamin,male,2010-11-25,NaN,NaN,NaN,NaN,NaN

In [45]:
#13. Which transactions have a UserID not in users?
userids=pd.merge(transactions,users,on='UserID',how='left' )

,TransactionID,TransactionDate,UserID,ProductID,Quantity,User,Gender,Registered,Cancelled
0,1,2010-08-21,7.0,2,1,NaN,NaN,NaN,NaN
1,2,2011-05-26,3.0,4,1,Caroline,female,2012-10-23,2016-06-07
2,3,2011-06-16,3.0,3,1,Caroline,female,2012-10-23,2016-06-07
3,4,2012-08-26,1.0,2,3,Charles,male,2012-12-21,NaN
4,5,2013-06-06,2.0,4,1,Pedro,male,2010-08-01,2010-08-08

In [42]:
#14. Join users to transactions, keeping only rows from transactions and users that match via UserID (inner join)
pd.merge(users,transactions,on='UserID',how='inner')

,UserID,User,Gender,Registered,Cancelled,TransactionID,TransactionDate,ProductID,Quantity
0,1,Charles,male,2012-12-21,NaN,4,2012-08-26,2,3
1,2,Pedro,male,2010-08-01,2010-08-08,5,2013-06-06,4,1
2,2,Pedro,male,2010-08-01,2010-08-08,6,2013-12-23,5,6
3,3,Caroline,female,2012-10-23,2016-06-07,2,2011-05-26,4,1
4,3,Caroline,female,2012-10-23,2016-06-07,3,2011-06-16,3,1
5,3,Caroline,female,2012-10-23,2016-06-07,7,2013-12-30,4,1
6,3,Caroline,female,2012-10-23,2016-06-07,10,2016-05-08,4,4

In [49]:
#15. Join users to transactions, displaying all matching rows AND all non-matching rows (full outer join)
pd.merge(users,sessions,on='UserID',how='outer')

    UserID      User  Gender  Registered   Cancelled  SessionID SessionDate
0        1   Charles    male  2012-12-21         NaN        NaN         NaN
1        2     Pedro    male  2010-08-01  2010-08-08        1.0  2010-01-05
2        2     Pedro    male  2010-08-01  2010-08-08        2.0  2010-08-01
3        2     Pedro    male  2010-08-01  2010-08-08        3.0  2010-11-25
4        3  Caroline  female  2012-10-23  2016-06-07        7.0  2012-12-21
5        4   Brielle  female  2013-07-17         NaN        5.0  2011-10-19
6        4   Brielle  female  2013-07-17         NaN        6.0  2012-10-23
7        4   Brielle  female  2013-07-17         NaN        8.0  2013-05-22
8        4   Brielle  female  2013-07-17         NaN        9.0  2013-07-17
9        4   Brielle  female  2013-07-17         NaN       10.0  2016-01-11
10       5  Benjamin    male  2010-11-25         NaN        4.0  2011-09-21

In [4]:
#16. Determine which sessions occurred on the same day each user registered
pd.merge(users,sessions, left_on='Registered',right_on='SessionDate')

,UserID_x,User,Gender,Registered,Cancelled,SessionID,SessionDate,UserID_y
0,1,Charles,male,2012-12-21,NaN,7,2012-12-21,3
1,2,Pedro,male,2010-08-01,2010-08-08,2,2010-08-01,2
2,3,Caroline,female,2012-10-23,2016-06-07,6,2012-10-23,4
3,4,Brielle,female,2013-07-17,NaN,9,2013-07-17,4
4,5,Benjamin,male,2010-11-25,NaN,3,2010-11-25,2

In [23]:
#17. Build a dataset with every possible (UserID, ProductID) pair (cross join)
users['tmp']=1
products['tmp']=1
pd.merge(users,products,on='tmp').loc[:,('UserID','ProductID')]

    UserID  ProductID
0        1          1
1        1          2
2        1          3
3        1          4
4        1          5
5        2          1
6        2          2
7        2          3
8        2          4
9        2          5
10       3          1
11       3          2
12       3          3
13       3          4
14       3          5
15       4          1
16       4          2
17       4          3
18       4          4
19       4          5
20       5          1
21       5          2
22       5          3
23       5          4
24       5          5

In [19]:
#users.drop('tmp',axis=1,inplace=True)
pd.merge(users,products,on='tmp').loc[:,('UserID','ProductID')]

In [45]:
#18. Determine how much quantity of each product was purchased by each user
#products_df=pd.DataFrame(products)
products.drop('tmp',axis=1,inplace=True)

In [52]:
transactions.groupby(['UserID','ProductID'])['Quantity'].sum()

UserID  ProductID
1.0     2            3
2.0     4            1
        5            6
3.0     3            1
        4            6
7.0     2            1
        4            3
Name: Quantity, dtype: int64

In [4]:
#19. For each user, get each possible pair of pair transactions (TransactionID1, TransacationID2)
transactions.merge(transactions,left_on='UserID',right_on='UserID')

,TransactionID_x,TransactionDate_x,UserID,ProductID_x,Quantity_x,TransactionID_y,TransactionDate_y,ProductID_y,Quantity_y
0,1,2010-08-21,7.0,2,1,1,2010-08-21,2,1
1,1,2010-08-21,7.0,2,1,9,2015-04-24,4,3
2,9,2015-04-24,7.0,4,3,1,2010-08-21,2,1
3,9,2015-04-24,7.0,4,3,9,2015-04-24,4,3
4,2,2011-05-26,3.0,4,1,2,2011-05-26,4,1
5,2,2011-05-26,3.0,4,1,3,2011-06-16,3,1
6,2,2011-05-26,3.0,4,1,7,2013-12-30,4,1
7,2,2011-05-26,3.0,4,1,10,2016-05-08,4,4
8,3,2011-06-16,3.0,3,1,2,2011-05-26,4,1
9,3,2011-06-16,3.0,3,1,3,2011-06-16,3,1
10,3,2011-06-16,3.0,3,1,7,2013-12-30,4,1
11,3,2011-06-16,3.0,3,1,10,2016-05-08,4,4
12,7,2013-12-30,3.0,4,1,2,2011-05-26,4,1
13,7,2013-12-30,3.0,4,1,3,2011-06-16,3,1
14,7,2013-12-30,3.0,4,1,7,2013-12-30,4,1
15,7,2013-12-30,3.0,4,1,10,2016-05-08,4,4
16,10,2016-05-08,3.0,4,4,2,2011-05-26,4,1
17,10,2016-05-08,3.0,4,4,3,2011-06-16,3,1
18,10,2016-05-08,3.0,4,4,7,2013-12-30,4,1
19,10,2016-05-08,3.0,4,4,10,2016-05-08,4,4
20,4,2012-08-26,1.0,2,3,4,2012-08-26,2,3
21,5,2013-06-06,2.0,4,1,5,2013-06-06,4,1
22,5,2013-06-06,2.0,4,1,6,2013-12-23,5,6
23,6,2013-12-23,2.0,5,6,5,2013-06-06,4,1
24,6,2013-12-23,2.0,5,6,6,2013-12-23,5,6
25,8,2014-04-24,NaN,2,3,8,2014-04-24,2,3

In [72]:
#20. Join each user to his/her first occuring transaction in the transactions table
users.merge(transactions,how='inner',on='UserID').sort_values(by='TransactionDate')

,UserID,User,Gender,Registered,Cancelled,tmp,TransactionID,TransactionDate,ProductID,Quantity
3,3,Caroline,female,2012-10-23,2016-06-07,1,2,2011-05-26,4,1
4,3,Caroline,female,2012-10-23,2016-06-07,1,3,2011-06-16,3,1
0,1,Charles,male,2012-12-21,NaN,1,4,2012-08-26,2,3
1,2,Pedro,male,2010-08-01,2010-08-08,1,5,2013-06-06,4,1
2,2,Pedro,male,2010-08-01,2010-08-08,1,6,2013-12-23,5,6
5,3,Caroline,female,2012-10-23,2016-06-07,1,7,2013-12-30,4,1
6,3,Caroline,female,2012-10-23,2016-06-07,1,10,2016-05-08,4,4

In [10]:
#21. Test to see if we can drop columns
my_columns = list(users.merge(transactions,how='inner',on='UserID').sort_values(by='TransactionDate'))
data = pd.merge(users,transactions.groupby('UserID').first(),how='left',on = 'UserID')

In [12]:
my_columns = list(data.columns)
my_columns

['UserID',
 'User',
 'Gender',
 'Registered',
 'Cancelled',
 'TransactionID',
 'TransactionDate',
 'ProductID',
 'Quantity']

In [13]:
my_col = list(data.dropna(thresh=int(data.shape[0]*.9),axis=1).columns)

In [14]:
my_col

['UserID', 'User', 'Gender', 'Registered']

In [15]:
missing_info = list(data.columns[data.isnull().any()])
missing_info

['Cancelled', 'TransactionID', 'TransactionDate', 'ProductID', 'Quantity']